
<div class="welcome-content">


  <p>Nowadays diabetic patients numbers are increasing greatly, cures for such disease are not yet to be found and people usually struggle
    from having this disease into their systems.
  </p>

  <p>Numerous numbers of techniques has been created in order to solve such problem and they all kinda helped but never fully
    cured patients from the disease, we will mention these techniques but we won't dig deep into each one of them.
  </p>

  <h2>Techniques</h2>
  <mat-divider></mat-divider>
  <ul>
    <li><a href="#Insulin">Insul Injection</a></li>
    <li><a href="#Drug">Amylinomimetic drug</a></li>
    <li><a href="">Alpha-glucosidase inhibitors</a></li>
    <li><a href="">DPP-4 inhibitors</a></li>
  </ul>


  <h2 id="Insulin">Insulin Injection</h2>

  <p>Insulin is the most common type of medication used in type 1 diabetes treatment. </p>
   <p> It’s also used in type 2 diabetes treatment. It’s given by injection and comes in different types. 
    The type of insulin you need depends on how severe your insulin depletion is.</p>

    <mat-divider></mat-divider>

    <h2 id="Drug">Amylinomimetic drug</h2>

    <p>Pramlintide (SymlinPen 120, SymlinPen 60) is an amylinomimetic drug. </p>
    <p>  It’s an injectable drug used before meals. It works by delaying the time your stomach takes to empty itself. </p>
     <p> It reduces glucagon secretion after meals. This lowers your blood sugar. It also reduces appetite through a central mechanism.
      </p>

      <h2>About The Application</h2>

      <p>In our application we have created a machine learning algorthim that helps the patient to decide their doeses and food</p>

      <p>The application carries out a number of processes in order to do that:</p>
      <ul><li>Prompts the user for their daily readings</li>
      <li>Runs the reading prediction on a hosted server</li>
      <li>Sends back a prediction to the user </li>
      <li>Draws graphs and stats to help the user </li>
      </ul>


    
</div>